/* ===COMMON STYLES=== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
input {
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.accent-color {
  color: #4d5ae5;
}

/* ===/COMMON STYLES=== */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ===HEADER STYLES=== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  /* position: sticky;
    top: 0;
    z-index: 999; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.contact {
  display: none;
}
.page-logo-first {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
  font-family: 'Raleway', sans-serif;
}
.page-logo-second {
  color: #2e2f42;
}
.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-logo-first {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .page-logo-second {
    color: #2e2f42;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.menu-link-color {
    color: #404bbf;
    position: relative;
  }
  .menu-link.menu-link-color::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .contact {
    font-style: normal;
    display: block;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-item {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .page-logo-first {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* ===/HEADER STYLES=== */

/* ===MAIN STYLES=== */
.page-section {
  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 72px auto;
  max-width: 216px;
  align-items: center;
  display: block;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}
.page-section-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-section-button:hover,
.page-section-button:focus {
  background: #404bbf;
}
@media screen and (min-width: 768px) {
  .page-section {
    max-width: 768px;
    padding: 112px 0 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-tablet.jpg');
  }
  .page-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) {
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .page-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-desktop.jpg');
  }
  .page-section-title {
    margin-bottom: 48px;
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desktop@2x.jpg);
    }
  }
}
/* ===/MAIN STYLES=== */

/* ===BENEFITS STYLES=== */
.section-benefits {
  padding: 96px 0;
}
.benefits-div {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefits-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: column;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .benefits-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    position: relative;
    margin-bottom: 8px;
  }
  .benefits-list-icon {
    display: flex;
    gap: 24px;
  }
  .benefits-svg {
    display: block;
    position: relative;
  }
}
/* ===/BENEFITS STYLES=== */

/* ===TEAM STYLES=== */
.section-team {
  padding: 96px 0;
  display: flex;
  align-items: center;
  background-color: #f4f4fd;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  justify-content: center;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-info {
  padding: 32px 0;
}
.team-member {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 0;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg {
  fill: #f4f4fd;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-team .container {
    padding: 0 108px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-team .container {
    padding: 120px 15px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* ===/TEAM STYLES=== */

/*===PORTFOLIO STYLES=== */
.section-portfolio {
  padding: 96px 0;
}
.section-portfolio-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.overlay-div {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-info {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
  height: 120px;
  border-top: none;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }
  .portfolio-info {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-info {
    width: 360px;
  }
}
/*===/PORTFOLIO STYLES=== */

/* ===FOOTER STYLES=== */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-logo-first {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-second {
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  margin-bottom: 72px;
}
.footer-icon-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.02em;
  padding: 0 0;
  text-align: center;
}
.team-list-icon.footer {
  padding: 0;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer-subscribe-label {
  opacity: 0.3;
}
.footer-input {
  width: 288px;
  color: #fff;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  padding: 8px 16px;
  margin-bottom: 16px;
}
.footer-subscribe-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  background-color: #4d5ae5;
  color: #fff;
}
.footer-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}
.footer-input::placeholder {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
  .footer {
    padding: 96px 108px;
  }
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
  }
  .footer-text {
    width: 264px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-container-logo {
    margin-right: 24px;
  }
  .footer-logo-first,
  .footer-icon-paragraph,
  .footer-subscribe-text {
    text-align: start;
  }
  .footer-subscribe-label {
    margin-right: 24px;
  }
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
  }
  .footer-input {
    width: 264px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
/* ===/FOOTER STYLES=== */

/* ===MODAL WINDOW STYLES=== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  overflow: auto;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-slogan {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.review-form-div {
  margin-bottom: 8px;
}
.review-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  background-color: transparent;
  outline: transparent;
}
.review-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #111;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* border-color: transparent; */
}
.review-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  outline: none;
}
.review-input-icon {
  position: relative;
}
.review-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}
.review-input:focus + .review-form-icon {
  fill: #4d5ae5;
}
.review-form-div-margin {
  margin-bottom: 16px;
}
.review-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  line-height: 1.17;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  background-color: transparent;
  outline: transparent;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-textarea:focus {
  outline: none;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.review-submit-button {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-checkbox {
  margin-bottom: 24px;
  width: 256px;
}
.review-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-input-checkbox:checked
  + .review-checkbox-label
  > .review-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-input-checkbox:focus
  + .review-checkbox-label
  > .review-custom-checkbox {
  border-color: #404bbf;
}
.review-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-checkbox-link {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 24px;
    padding-top: 72px;
  }
  .review-textarea {
    width: 360px;
  }
  .review-checkbox {
    margin-bottom: 24px;
    width: 360px;
  }
}
@media (min-width: 1158px) {
  .review-input {
    padding-left: 38px;
  }
}
/* ===/MODAL WINDOW STYLES=== */

/* ===MOBILE-MENU STYLES=== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 72px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-close-button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-item:first-child .mobile-menu-link {
  color: #404bbf;
}
.mobile-menu-list {
  margin-bottom: 168px;
}
.mobile-menu-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-address-item:first-child .mobile-menu-address-link {
  color: #4d5ae5;
}
.mobile-menu-address {
  margin-bottom: 48px;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-list-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 0;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===/MOBILE-MENU STYLES=== */
